<div class="container">
    
    @if (isLoading) {

    <div class="loading-container">
        <h1>{{ chatService.connection.state }}</h1>
    </div>

    } @else {

    <div class="header-container">
        <p>Headline</p>
        <button (click)="leaveChat()" class="btn btn-danger">
            <!-- Button to initiate leaving the chat -->
            Leave Chat
        </button>
    </div>
    <div class="chat-container">
        <div class="chat-background">
            <div class="chat-info">
                <p>Welcome to {{ groupName }}</p>
            </div>
            <div class="message-container">
                @for (message of messages; track message.id) {
                <app-message [message]="message"></app-message>
                }
            </div>
        </div>
    </div>
    <div class="input-container">
        <input
            (keydown.enter)="sendChatMessage()"
            [(ngModel)]="inputMessage"
            type="text"
            class="typeMessage"
            placeholder="Type a message"
            autofocus
        />

        <button
            #sendButton
            (click)="sendChatMessage()"
            class="send-message-button"
            type="button"
        >
            <i class="fa fa-paper-plane-o" aria-hidden="true">Send</i>
        </button>
    </div>

    }
</div>
