<div class="container">
    @if (isLoading) {

    <div class="loading-container">
        <h1>{{ chatService.connection.state }}</h1>
    </div>

    } @else {

    <div class="header-container">
        <p>Headline</p>
        <button (click)="leaveChat()" class="btn btn-danger">
            <!-- Button to initiate leaving the chat -->
            Leave Chat
        </button>
    </div>
    <div class="content-container">
        <div class="channel-container">
            <div class="input-container">
                <input
                    (keydown.enter)="joinChannel()"
                    [(ngModel)]="inputChannel"
                    type="text"
                    class="join-channel"
                    placeholder="Enter a channel name"
                />
                <button
                    #joinChannelButton
                    (click)="joinChannel()"
                    class="join-channel-button"
                    type="button"
                >
                    <p>Join Channel</p>
                </button>
            </div>
            <div class="channel-list">
                <a routerLink="status" class="status-channel">Status</a>
                @for (group of groups; track group) {
                <a [routerLink]="group">{{ group }}</a>
                }
            </div>
        </div>
        <div class="chat-container">
            <router-outlet></router-outlet>
        </div>
    </div>

    }
</div>
