.message-container

    &.simple

    &.extended
        background-color: #f0f0f0
        border-radius: 8px
        padding: 10px
        margin-bottom: 10px
        max-width: 80%
        word-wrap: break-word

    & .date
        font-size: 1em
        color: #888
        margin-right: 5px

    & .sender
        font-weight: bold
        margin-right: 5px

    & .text
        display: inline
        font-size: 1em
