<div class="container">
    <form [formGroup]="joinChatForm">
        <div class="form-container">
            <p>Please enter your username</p>
            <div class="input-container">
                <input
                    type="text"
                    id="displayname"
                    formControlName="user"
                    aria-describedby="emailHelp"
                    placeholder="Display Name"
                />
            </div>
            <button
                type="submit"
                [disabled]="joinChatForm.invalid"
                (click)="joinChat()"
            >
                Join Chat
            </button>
        </div>
    </form>
</div>
